# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Cache files
research/cache/*
!research/cache/.gitkeep

# Generated reports
research/final/*
!research/final/.gitkeep